extends layout

block content
  div.container
    if (error)
      .alert.alert-danger(role="alert") #{error}
    form(method="POST", action="/", accept-charset="UTF-8", class="form-signin", role="form")
      h2(class="form-signin-heading") Sign in to firstfive
      .input-wrapper
        input(type="username", class="form-control", placeholder="Email address", name='username', required, autofocus)
      .input-wrapper
        input(type="password", class="form-control", placeholder="Password", name='password', required)
      button(class="btn btn-lg btn-primary btn-block", type="submit") Sign in